<div class="col-md-6 offset-md-3" *ngIf = "isDataAvailable">
    <h3> Update Course </h3>

    <form (ngSubmit) = "onSubmit()">
        <div class = "form-group">
            <label>Name</label>
            <input type = "text" class = "form-control" id = "name" 
                [(ngModel)] = "course.name" name = "name">
        </div>

        <div class = "form-group">
            <label>Department</label>
            <select class = "form-control" id = "department" 
                [(ngModel)] = "course.department" name = "department">
                <option *ngFor = "let department of departments" [value]="department">{{department.name}}</option>
                
            </select>
            
        </div>

        <div class = "form-group">
            <label>Teacher</label>
            <select class = "form-control" id = "teacher" 
                [(ngModel)] = "course.teacher" name = "teacher">
                <option *ngFor = "let teacher of teachers" [value]="teacher">{{teacher.firstName}} {{teacher.lastName}}</option>
                
            </select>
            
        </div>

        <div class = "form-group">
            <label>Location</label>
            <select class = "form-control" id = "location" 
                [(ngModel)] = "course.location" name = "location">
                <option *ngFor = "let location of locations" [value]="location">{{location.building}} {{location.room}}</option>
                
            </select>
            
        </div>

        <div class = "form-group">
            <label>Timeslot</label>
            <select multiple class = "form-control" id = "timeslot" 
                [(ngModel)] = "course.timeslots" name = "timeslot">
                <option *ngFor = "let ts of timeslots" [value]="ts">{{weekday[ts.weekday]}} {{coursetime[ts.courseTime]}}</option>
                
            </select>
            
        </div>

        <button class = "btn btn-success" type = "submit">Submit</button>
    </form>
    
</div>